body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

.intro {
    text-align: center;
    padding: 50px;
}

.profile-pic {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Same as width to maintain square shape */
    object-fit: cover; /* Ensures the image covers the area */
    border: 2px solid #ddd; /* Optional: adds a border around the image */
    /* Remove the border-radius to make it square */
}

.btn-rounded {
    border-radius: 100px;
  }
  



.project-list {
    display: flex;
    flex-direction: column;
}

.project-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.social-media {
    text-align: center;
    margin-top: 20px;
}

.social-media .social-link {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 15px;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.social-media .social-link i {
    margin-right: 8px;
    font-size: 20px; /* Adjust icon size */
}

.social-media .social-link:hover {
    background-color: #007bff; /* Change to your preferred hover color */
    transform: scale(1.05); /* Slightly enlarge on hover */
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}


#about {
    padding: 20px;
    margin: 10px;
    background-color: #565557; /* Change this to your desired background color */
    border-radius: 8px; /* Optional: adds rounded corners */
}

.badge-base {
    display: inline-block;
}

#about {
    color: #fff; /* White text color */
}

#about h2 {
    color: #fff; /* White color for headings */
}

#about p {
    color: #fff; /* White color for paragraphs */
}

#about ul {
    color: #fff; /* White color for list items */
}

#about ul li {
    color: #fff; /* White color for list items */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

.btn-primary {
    background-color: #36383a;
}

.btn-rounded {
    border-radius: 25px;
}

.btn:hover {
    background-color: #0056b3;
}